[Unit]
Description=ClamAV Daemon Scanner Service
Documentation=man:clamdscan(1) man:clamd.conf(5) https://www.clamav.net/documents/scanning
Requires=clamav-daemon.service
After=clamav-daemon.service syslog.target network.target

[Service]
Type=simple
User=root
ExecStartPre=/bin/bash -c "while [ ! -S <%= scope['clamav::clamd_default_localsocket'] %> ]; do sleep 1; done"
ExecStart=/usr/bin/clamdscan --fdpass -m<% if scope['clamav::clamdscan_default_logfile'] %> --log=<%= scope['clamav::clamdscan_default_logfile'] %><% end %><% if scope['clamav::clamd_quarantine_directory'] %> --move=<%= scope['clamav::clamd_quarantine_directory'] %><% end %> <%= scope['clamav::clamdscan_directory'] %>
